/* Navigation Stuff */

.navigation {
    padding: 5px;
    text-align: center;
}

.navlinks {
    display: inline-block;
    margin: 5px;
}

a {
    font-size: 125%;
    font-family: arial;
}

a:link {
    color: #ff9900;
    text-decoration: none;
}

a:visited {
    color: #B36B00;
   
}

a:hover {
    color: #ff9900;
    text-decoration: underline;
}

a:active {
    color: #FFAE34;
   
}

/* the board */
#chessborder {
    width: 93.74%;
    height: 93.74%;
    max-width: 1200px;
    max-height: 1200px;
    border: 10px solid #787878;
    margin: 20px auto 20px auto;
    text-align: center;
}

.black {
   background-color: black;
   max-width: 12.5%;
   max-height: 11.72vw;
   width: 150px;
   height: 150px;
   float: left;
}

.bee {
    background-color: #ff9900;
    max-width: 12.5%;
    max-height: 11.72vw;
    width: 150px;
    height: 150px;
    float: left;
}

#clearfix {
    clear: both;
}

.chesspiss {
    width: 50%;
    height: 90%;
    margin: 5%;
}

.anotherpiss {
    width: 65%;
    height: 65%;
    margin: 18%;
}

/* Other */
h1 {
    color: #FFAE34;
    font-size: 250%;
    font-family: arial black;
    text-align: center;
}

body {
    background-color: black;
}

/* Optimized for mobile */
@media only screen and (max-width: 740px){
    div.navlinks {
        display: block;
    }
}
